@using CarRental.Logic.Models;
@model CarViewModel

@{
    string dummyText = "---";
}

<style>
    table.detailsTable {
        border: 1px solid #082030;
        background-color: #EEEEEE;
        width: 50%;
        text-align: left;
        border-collapse: collapse;
    }

        table.detailsTable td, table.detailsTable th {
            border: 1px solid #AAAAAA;
            padding: 3px 5px;
        }

        table.detailsTable tbody td {
            font-size: 13px;
        }

        table.detailsTable tr:nth-child(even) {
            background: #D0E4F5;
        }

        table.detailsTable thead {
            background: #1C6EA4;
            border-bottom: 2px solid #444444;
        }

            table.detailsTable thead th {
                font-size: 15px;
                font-weight: bold;
                color: #FFFFFF;
                border-left: 2px solid #D0E4F5;
            }

                table.detailsTable thead th:first-child {
                    border-left: none;
                }
</style>

<table class="detailsTable">
    <thead>
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Make)</td>
            <td>@Html.DisplayFor(model => model.Make)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.CarModelProp)</td>
            <td>@Html.DisplayFor(model => model.CarModelProp)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Year)</td>
            <td>@Html.DisplayFor(model => model.Year)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.LicencePlateNumber)</td>
            <td>@Html.DisplayFor(model => model.LicencePlateNumber)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Color)</td>
            <td>
                @if (Model.Color != null)
                {
                    @Html.DisplayFor(model => model.Color)
                }
                else
                    @dummyText
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Transmission)</td>
                <td>
                    @if (Model.Transmission != null)
                {
                    @Html.DisplayFor(model => model.Transmission)
                }
                else
                    @dummyText
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Kilometrage)</td>
                <td>
                    @if (Model.Kilometrage != null)
                {
                    @Html.DisplayFor(model => model.Kilometrage)
                }
                else
                    @dummyText
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.SeatsNo)</td>
                <td>
                    @if (Model.SeatsNo != null)
                {
                    @Html.DisplayFor(model => model.SeatsNo)
                }
                else
                    @dummyText
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Airbags)</td>
                <td>
                    @if (Model.Airbags != null)
                {
                    @Html.DisplayFor(model => model.Airbags)
                }
                else
                    @dummyText

                </td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.FuelConsumption)</td>
                <td>
                    @if (Model.FuelConsumption != null)
                {
                    @Html.DisplayFor(model => model.FuelConsumption)
                }
                else
                    @dummyText
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.EngineType)</td>
                <td>
                    @if (Model.EngineType != null)
                {
                    @Html.DisplayFor(model => model.EngineType)
                }
                else
                    @dummyText
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Displacement)</td>
                <td>
                    @if (Model.Displacement != null)
                {
                    @Html.DisplayFor(model => model.Displacement)
                }
                else
                    @dummyText
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.PowerInKiloWats)</td>
                <td>
                    @if (Model.PowerInKiloWats != null)
                {
                    @Html.DisplayFor(model => model.PowerInKiloWats)
                }
                else
                    @dummyText
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Addons)</td>
                <td>@string.Join(", ", Model.Addons)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Price)</td>
                <td>@Html.DisplayFor(model => model.Price)</td>
            </tr>
        </tbody>
    </table>
