@model CarRental.Logic.Models.CarViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Car Details</h2>
        </div>
    </div>
    <hr />
    <div>
        <dl class="row">
            <dt class="col-sm-2">
<<<<<<< HEAD
                @Html.DisplayNameFor(model => model.CarModelProp)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CarModelProp)
=======
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
>>>>>>> origin/dev
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Make)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Make)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CarModelProp)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CarModelProp)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Year)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Year)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LicencePlateNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LicencePlateNumber)
            </dd>
            @if (Model.Color != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Color)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Color)
                </dd>
            }
            @if (Model.Transmission != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Transmission)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Transmission)
                </dd>
            }
            @if (Model.Kilometrage != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Kilometrage)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Kilometrage)
                </dd>
            }
            @if (Model.Doors != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Doors)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Doors)
                </dd>
            }
            @if (Model.SeatsNo != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.SeatsNo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.SeatsNo)
                </dd>
            }
            @if (Model.Airbags != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Airbags)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Airbags)
                </dd>
            }
            @if (Model.FuelConsumption != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FuelConsumption)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FuelConsumption)
                </dd>
            }
            @if (Model.EngineType != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EngineType)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EngineType)
                </dd>
            }
            @if (Model.Displacement != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Displacement)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Displacement)
                </dd>
            }
            @if (Model.PowerInKiloWats != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PowerInKiloWats)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PowerInKiloWats)
                </dd>
            }
            @if (Model.Addons != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Addons)
                </dt>
                <dd class="col-sm-10">
                    @string.Join(", ", Model.Addons)
                </dd>
            }
            @if (Model.Price != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Price)
                </dd>
            }
        </dl>
    </div>
    <div>
        <partial name="Buttons/_ButtonEdit-2" />
        <partial name="Buttons/_ButtonBackToList" />
    </div>
    <div>
        <button type="button" class="btn btn-secondary app-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Rent this Car">
            <a asp-controller="Rental" asp-action="Create" class="none-underline text-black">
                Rent this Car
            </a>
        </button>
        <button type="button" class="btn btn-secondary app-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Return this Car">
            <a asp-action="Return" class="none-underline text-black">
                Return this Car
            </a>
        </button>
    </div>
</div>
