@model CarRental.Logic.Models.CarViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Car Details</h2>
        </div>
    </div>
    <hr />
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CarModelProp)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CarModelProp)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Make)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Make)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Year)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Year)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LicencePlateNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LicencePlateNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Color)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Color)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Transmission)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Transmission)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Kilometrage)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Kilometrage)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Doors)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Doors)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SeatsNo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SeatsNo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Airbags)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Airbags)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FuelConsumption)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FuelConsumption)
            </dd>


            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EngineType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EngineType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Displacement)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Displacement)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PowerInKiloWats)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PowerInKiloWats)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Addons)
            </dt>
            <dd class="col-sm-10">
                @string.Join(", ", Model.Addons)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
        </dl>
    </div>
    <div>
        <partial name="Buttons/_ButtonEdit-2" />
        <partial name="Buttons/_ButtonBackToList" />
    </div>
    <div>
        <button type="button" class="btn btn-secondary app-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Rent this Car">
            <a asp-controller="Rental" asp-action="Create">
                Rent this Car
            </a>
        </button>
        <button type="button" class="btn btn-secondary app-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Return this Car">
            <a asp-action="Return">
                Return this Car
            </a>
        </button>
    </div>
</div>
