@model CarRental.Web.Models.RentalViewModel

@{
    string Print(DateTime dt)
    {
        string result = Convert.ToDateTime(dt).ToString("yyyy-MM-dd h:mm tt");

        return result;
    }
    ViewData["Title"] = "Details";
}

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Rental Details</h2>
        </div>
    </div>
    <hr />

    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CustomerId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CarId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CarId)
            </dd>
            <dt class="col-sm-2">
                @Print(Model.BeginDate)
            </dt>
            <dd class="col-sm-10">
               @Print(Model.BeginDate)
            </dd>
            <dt class="col-sm-2">
                @Print(Model.EndDate)
            </dt>
            <dd class="col-sm-10">
                @Print(Model.EndDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TotalCost)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TotalCost)
            </dd>
        </dl>
    </div>
    <div>
        <partial name="Buttons/_ButtonEdit-2" />
        <partial name="Buttons/_ButtonBackToList" />
    </div>
</div>