@using CarRental.Common.Extensions;
@using CarRental.Logic.Models;
@using CarRental.Web.Components;
@model RentalViewModel
@{
    ViewData["Title"] = "Details";
}


<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Rental Details</h2>
        </div>
    </div>
    <hr />

    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CustomerName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CarLicencePlate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CarLicencePlate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BeginDate)
            </dt>
            <dd class="col-sm-10">
                 @Model.BeginDate.DefaultDateFormat()
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>
            <dd class="col-sm-10">
                 @Model.EndDate.DefaultDateFormat()
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TotalCost)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TotalCost)
            </dd>
        </dl>
    </div>

    <div>
        @await Component.InvokeAsync("RentalTerms", new { Id = Model.CarId })
    </div>

    <div>
        <partial name="Buttons/_ButtonEdit-2" />
        <partial name="Buttons/_ButtonBackToList" />
    </div>
</div>