@model IEnumerable<CarRental.Logic.Models.CustomerViewModel>

<div class="wrapper">
    <table id="indexTable" class="table table-hover app-index-table">
        <caption caption-side>List of Customers</caption>
        <thead>
            <tr>
                <th scope="col">
                    No.
                </th>
                <th scope="col">
                    Customer
                </th>
                <th scope="col">
                    <label asp-for="First().EmailAddress"></label>
                </th>
                <th scope="col">
                    <label asp-for="First().PhoneNumber"></label>
                </th>
                <th scope="col">
                    <label asp-for="First().Gender"></label>
                </th>
                <th scope="col">
                    <label asp-for="First().Pesel"></label>
                </th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                var counter = 1;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td data-cell="no.">
                        @counter. @{
                            counter++;
                        }
                    </td>
                    <td data-cell="name">@item.FirstName @item.LastName</td>
                    <td data-cell="email">@item.EmailAddress</td>
                    <td data-cell="phone">@item.PhoneNumber</td>
                    <td data-cell="gender">@item.Gender</td>
                    <td data-cell="pesel">
                        <button id="pesel-@counter" class="btn-customer-pesel" onclick="showPesel('pesel-@counter', @item.Pesel)">
                            Show Pesel
                        </button>
                    </td>
                    <td data-cell="actions">
                        <button type="button" class="btn btn-secondary app-button" data-bs-toggle="tooltip" data-bs-placement="top" title="View details">
                            <a asp-action="Details" asp-route-id="@item.Id">
                                <i class="bi bi-eye"></i>
                            </a>
                        </button>

                        <button type="button" class="btn btn-secondary app-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit element">
                            <a asp-action="Edit" asp-route-id="@item.Id">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        </button>

                        <button type="button" class="btn btn-secondary app-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete element">
                            <a asp-action="Delete" asp-route-id="@item.Id">
                                <i class="bi bi-trash"></i>
                            </a>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function showPesel(elementId, text) {
        console.log(elementId);
        console.log(text);
        element = document.getElementById(elementId);
        element.innerText = text;
    }
</script>

<style>
    @@media (max-width: 770px) {
        th {
            display: none;
        }

        td {
            /*display: block;*/
            display: grid;
            gap: 0.5remm;
            grid-template-columns: 10ch auto;
            padding: 0.5rem 1rem;
        }
            /*        td:nth-of-type(1)::before {
                        content: "Name";
                    }*/

            td::before {
                content: attr(data-cell) ": ";
                float: left;
                font-weight: bold;
                text-transform: uppercase;
            }

            td:first-child {
                padding-top: 2rem;
            }

            td:last-child {
                padding-bottom: 2rem;
            }
    }
</style>

<script src="~/js/site.js"></script>

@section customerListTable {
    @*    <style type="text/css" media="(max-width: 650px)">
    </style>*@
}
