@model IEnumerable<CarRental.Logic.Models.CustomerViewModel>


<div class="wrapper">

    <input type="text" id="filterInput" onkeyup="filterFunction()" placeholder=" Search in table..."
           maxlength="50">

    <button type="button" class="btn btn-secondary app-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Clear search field"
            onclick="clearFilterInput()">
        <i class="bi bi-eraser"></i>
        </a>
    </button>

    <table id="customerIndexTable" class="table table-hover">
        <caption caption-side>List of Customers</caption>
        <thead class="">
            <tr>
                <th scope="col">
                    No.
                </th>
                <th scope="col">
                    Customer
                </th>
                <th scope="col">
                    <label asp-for="First().EmailAddress"></label>
                </th>
                <th scope="col">
                    <label asp-for="First().PhoneNumber"></label>
                </th>
                <th scope="col">
                    <label asp-for="First().Gender"></label>
                </th>
                <th scope="col">
                    <label asp-for="First().Pesel"></label>
                </th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                var counter = 1;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td data-cell="no.">
                        @counter. @{
                            counter++;
                        }
                    </td>
                    <td data-cell="name">@item.FirstName @item.LastName</td>
                    <td data-cell="email">@item.EmailAddress</td>
                    <td data-cell="phone">@item.PhoneNumber</td>
                    <td data-cell="gender">@item.Gender</td>
                    <td data-cell="pesel">
                        <button id="pesel-@counter" class="btn-customer-pesel" onclick="showPesel('pesel-@counter', @item.Pesel)">
                            Show Pesel
                        </button>
                    </td>
                    <td data-cell="actions">
                        <button type="button" class="btn btn-secondary app-button" data-bs-toggle="tooltip" data-bs-placement="top" title="View details">
                            <a asp-action="Details" asp-route-id="@item.Id">
                                <i class="bi bi-eye"></i>
                            </a>
                        </button>

                        <button type="button" class="btn btn-secondary app-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit element">
                            <a asp-action="Edit" asp-route-id="@item.Id">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        </button>

                        <button type="button" class="btn btn-secondary app-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete element">
                            <a asp-action="Delete" asp-route-id="@item.Id">
                                <i class="bi bi-trash"></i>
                            </a>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function showPesel(elementId, text) {
        console.log(elementId);
        console.log(text);
        element = document.getElementById(elementId);
        element.innerText = text;
    }

    function clearFilterInput() {
        document.getElementById("filterInput").innerText = '';
    }
</script>



<style>
    .btn-customer-pesel {
        background-color: lightgray;
        border: none;
        color: black;
        padding: 2px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 2px 2px;
        cursor: pointer;
        width: 12ch;
        border: 1px dotted black;
    }

    caption {
        background: hsl(0 0% 0%);
        caption-side: top;
        font-size: 1.3rem;
        font-weight: 700;
        padding-left: 1rem;
        text-align: left;
        text-transform: uppercase;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        background-color: lightgray;
        color: black;
        padding: 1rem;
    }

    tr:nth-of-type(2n) {
        background: hsl(0 0% 0% / .1);
    }

    th {
        background: hsl(0 0% 0% / .5) !important;
    }

    td {
        padding: 1rem;
    }



    @@media (max-width: 770px) {
        th {
            display: none;
        }

        td {
            /*display: block;*/
            display: grid;
            gap: 0.5remm;
            grid-template-columns: 8ch auto;
            padding: 0.5rem 1rem;
        }
            /*        td:nth-of-type(1)::before {
                content: "Name";
            }*/

            td::before {
                content: attr(data-cell) ": ";
                float: left;
                font-weight: bold;
                text-transform: uppercase;
            }

            td:first-child {
                padding-top: 2rem;
            }

            td:last-child {
                padding-bottom: 2rem;
            }
    }

    input {
        margin-bottom: 0.75rem;
        width: 50ch;
        height: 2rem;
        border: 1px solid black;
    }

</style>

@section customerListTable {
    @*    <style type="text/css" media="(max-width: 650px)">
    </style>*@
}
