@model IEnumerable<CarRental.Logic.Models.CustomerViewModel>

<input type="text" id="filterInput" onkeyup="filterFunction()" placeholder="Search in table...">

<table id="customerIndexTable" class="table table-hover">
    <thead class="">
        <tr>
            <th scope="col">
                <label asp-for="First().FirstName"></label>
            </th>
            <th scope="col">
                <label asp-for="First().LastName"></label>
            </th>
            <th scope="col">
                <label asp-for="First().EmailAddress"></label>
            </th>
            <th scope="col">
                <label asp-for="First().PhoneNumber"></label>
            </th>
            <th scope="col">
                <label asp-for="First().Gender"></label>
            </th>
            <th scope="col">
                <label asp-for="First().Pesel"></label>
            </th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.EmailAddress</td>
                <td>@item.PhoneNumber</td>
                <td>@item.Gender</td>
                <td>@item.Pesel</td>
                <td>
                    <button type="button" class="btn btn-secondary app-button" data-bs-toggle="tooltip" data-bs-placement="top" title="View details">
                        <a asp-action="Details" asp-route-id="@item.Id">
                            <i class="bi bi-eye"></i>
                        </a>
                    </button>

                    <button type="button" class="btn btn-secondary app-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit element">
                        <a asp-action="Edit" asp-route-id="@item.Id">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </button>

                    <button type="button" class="btn btn-secondary app-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete element">
                        <a asp-action="Delete" asp-route-id="@item.Id">
                            <i class="bi bi-trash"></i>
                        </a>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
