@model CarRental.Web.Models.SearchViewModel

@{

    ViewData["Title"] = "Index";
    var dto = Model.SearchViewModelDto;
}

<h1>Index</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@dto.ModelAndMake" class="control-label"></label>
                <input asp-for="@dto.ModelAndMake" class="form-control" />
                <span asp-validation-for="@dto.ModelAndMake" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@dto.StartDate" class="control-label"></label>
                <input asp-for="@dto.StartDate" class="form-control" />
                <span asp-validation-for="@dto.StartDate"  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@dto.EndDate"  class="control-label"></label>
                <input asp-for="@dto.EndDate" class="form-control" />
                <span asp-validation-for="@dto.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@dto.ProductionYearFrom" class="control-label"></label>
                <input asp-for="@dto.ProductionYearFrom" class="form-control" />
                <span asp-validation-for="@dto.ProductionYearFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@dto.ProductionYearTo" class="control-label"></label>
                <input asp-for="@dto.ProductionYearTo" class="form-control" />
                <span asp-validation-for="@dto.ProductionYearTo" class="text-danger"></span>
            </div>
             <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
             </div>
        </form>
        
        <partial name="_CarTiles" model="Model.Cars" />
    </div>
</div>
