@using CarRental.Logic.Models;
@model SearchViewModel

@{
    ViewData["Title"] = "Index";
    var dto = Model.SearchDto;
}
<div class="search-container justify-content-center">
    <form method="post">
        <div class="input-group mb-3">
            <div class="row justify-content-center pt-2">
                <button class="btn btn-outline-secondary dropdown-toggle makes me-2 col fw-bold " type="button" data-bs-toggle="dropdown" aria-expanded="false">Make</button>
                <ul class="dropdown-menu checkbox-menu allow-focus">
                    @foreach (var make in dto.Makes.Keys)
                    {
                        <li>
                            <label>
                                <input type="checkbox" asp-for="SearchDto.Makes[make]" value="@true">@make
                            </label>
                        </li>
                    }
                </ul>
                <div class="col-2 me-2 shadow-lg">
                    <input class="form-control search" asp-for="SearchDto.ModelAndMake" type="text" placeholder="Type Car Model" aria-label="Search">
                </div>
                <div class="col-2 me-2">
                    <select asp-for="SearchDto.ProductionYearFrom" id="" name="SearchDto.ProductionYearFrom" class="form-control">
                        <partial name="_AvailableOptionsForYearFrom" , new { Year=-1 } />
                    </select>
                    <span asp-validation-for="SearchDto.ProductionYearFrom" class="text-danger"></span>
                </div>
                <div class="col-2 me-2">
                    <select asp-for="SearchDto.ProductionYearTo" id="" name="SearchDto.ProductionYearTo" class="form-control">
                        <partial name="_AvailableOptionsForYearTo" , new { Year=-1 } />
                    </select>
                    <span asp-validation-for="SearchDto.ProductionYearTo" class="text-danger"></span>
                </div>
                <div class="row pt-2 pb-2 justify-content-center">
                    <div class="col me-2">
                        <input class="form-control date" asp-for="SearchDto.StartDate" />
                    </div>
                    <div class="col me-2">
                        <input class="form-control date" asp-for="SearchDto.EndDate" />
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-success fw-bold" type="submit" asp-action="Index">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="container">
    <div class="row justify-content-center">
        @foreach (var item in Model.Cars)
        {
            <div class="card col-3 me-4 mt-4 shadow-lg" style="width: 18rem;">
                <img class="card-img-top card-image-height" src="@item.Image" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.Make @item.CarModelProp</h5>
                    <p class="card-text">Year: @item.Year</p>
                    <p class="card-text">Transmission: @item.Transmission</p>
                    <p class="card-text">Engine type: @item.EngineType</p>
                    <a class="btn btn-outline-success fw-bold" asp-controller="Car" asp-action="Details" asp-route-id="@item.Id">Show details</a>
                </div>
            </div>
        }
    </div>
</div>
