@using CarRental.Logic.Models;
@using Microsoft.VisualBasic
@using System.Collections
@model GenerateReportViewModel;

@{
    ViewData["Tittle"] = "Generate Report";
}
<div class="container">
    <form method="post">
        <div class="input-group mb-3">
            <div class="row justify-content-center pt-2">
                <div class="col-1 me-2 shadow-lg">
                    <input class="form-control search" asp-for="UserId" type="text" placeholder="Type Car Model" aria-label="Search">
                </div>
                <div class="col me-2">
                    <input class="form-control date" type="date" asp-for="From" asp-format="{0:yyyy-MM-dd}" />
                </div>
                <div class="col me-2">
                    <input class="form-control date" type="date" asp-for="To" asp-format="{0:yyyy-MM-dd}" />
                </div>
                <div class="col-2 form-check">
                    <input class="form-check-input" type="radio" id="visitedCars" name="reportType" value="visitedCars">
                    <label class="form-check-label" asp-for="ReportType" class="form-check-label" for="visitedCars">
                        Visited Cars
                    </label>
                </div>
                <div class="col-3 form-check">
                    <input class="form-check-input" type="radio" id="lastLoggedReports" name="reportType" value="lastLoggedReports">
                    <label class="form-check-label" asp-for="ReportType" class="form-check-label" for="lastLoggedReports">
                        Last Logged Reports
                    </label>
                </div>
                <button class="col-2 btn btn-outline-success fw-bold" type="submit" asp-action="Index">Generate</button>
            </div>
        </div>
    </form>

    @if (Model.Reports != null)
    {
        <h2>Report Results</h2>
        @if (Model.ReportType == "visitedCars")
        {
            var visitedCars = Model.Reports as IEnumerable<VisitedCarViewModel>;
            <table class="table">
                <thead>
                    <tr>
                        <th>User Id</th>
                        <th>Car Id</th>
                        <th>Visit Date</th>
                        <th>Car Make</th>
                        <th>Car Model</th>
                        <th>Year</th>
                        <th>Licence Plate</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var visitedCar in visitedCars)
                    {
                        <tr>
                            <td>@visitedCar.UserId</td>
                            <td>@visitedCar.CarId</td>
                            <td>@visitedCar.DateWhenClicked</td>
                            <td>@visitedCar.Make</td>
                            <td>@visitedCar.Model</td>
                            <td>@visitedCar.Year</td>
                            <td>@visitedCar.LicencePlate</td>

                        </tr>
                    }
                </tbody>
            </table>
        }
        else if (Model.ReportType == "lastLoggedReports")
        {
            var lastLoggedReports = Model.Reports as IEnumerable<LastLoggedReportDTO>;
            <table class="table">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Last Logged Date</th>
                        <th>Login Count</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var lastLoggedReport in lastLoggedReports)
                    {
                        <tr>
                            <td>@lastLoggedReport.UserId</td>
                            <td>@lastLoggedReport.LastLogged</td>
                            <td>@lastLoggedReport.LoginCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }

</div>

